#apex-hidden, #secondary-hidden, #tertiary-hidden {
  display: none;
}

img {
  width: 20vw;
  max-width: 100%;
}

.clickable-polar-bear, .clickable-walrus, .clickable-clams {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickable2:hover {
  text-decoration: underline;
}
